<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau panier" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer les paniers selectionnés" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPaniers()" [disabled]="!selectedPaniers || !selectedPaniers.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="paniers" [rows]="10" [paginator]="true" [globalFilterFields]="['panier.nom','panier.themes']" [(selection)]="selectedPaniers" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filtree($event)" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nom
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="Date">Dates
                    <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="nbProduits">Nombres de produits
                    <p-sortIcon field="nbProduits"></p-sortIcon>
                </th>
                <th pSortableColumn="ingredients">Produits
                    <p-sortIcon field="ingredients"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-panier>
            <tr>
                <td>
                    <p-tableCheckbox [value]="panier"></p-tableCheckbox>
                </td>
                <td class="clickable" routerLink="/mesPaniers/{{panier.id}}">{{panier.nom}}</td>
                <td *ngIf="panier.id">{{panier.date |date}}</td>
                <td *ngIf="!panier.id">panier en cours</td>
                <td>{{panier.ingredients ? panier.ingredients.length : 0 | number}}</td>
                <td>
                    <div *ngFor="let produit of panier.ingredients">
                        {{produit.nom}}, {{produit.quantite}}
                    </div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPanier(panier)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePanier(panier)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Au total il y a : {{paniers ? paniers.length : 0 }} paniers.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="panierDialog" [style]="{width: '450px'}" header="Panier Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="nom">Nom</label>
            <input type="text" pInputText id="nom" [(ngModel)]="panier.nom" required autofocus />
            <small class="p-error" *ngIf="submitted && !panier.nom">Name is required.</small>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="produits">Produits</label>
                <app-form-produit></app-form-produit>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePanier()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>