<div class="topnav">
    <a routerLinkActive="active" routerLink=''> <i class="pi pi-home" style="color: blue;"> </i> Accueil</a>
    <a routerLink='inspiration'> <i class="pi pi-eye" style="color: blue;"> </i> Inspirations? </a>
    <a routerLink='mesRecettes'> <i class="pi pi-folder-open" style="color: blue;"></i> Mes recettes</a>
    <a routerLink='mesPaniers'> <i class="pi pi-inbox" style="color: blue;"> </i> Mes paniers de courses</a>
    <a routerLink='mesCommandes'> <i class="pi pi-shopping-cart" style="color: blue;"> </i> Mes commandes</a>
    <a routerLink='geolocalisation'><i class="pi pi-compass" style="color: blue;"> </i> Geolocalisation</a>
    <a routerLink='connexion'> <i class="pi pi-user" style="color: blue;"> </i> Connexion</a>
</div>