/* Add a black background color to the top navigation */

.topnav {
    background-color: #59bb3b;
    overflow: hidden;
    position: fixed;
    width: 98vw;
    top: 0;
    left: 0.5vw;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #050505;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: rgb(126, 255, 87);
    color: rgb(7, 7, 7);
}