<div *ngIf="recette.nom">
    <p class="titre"> {{recette.nom}}</p>
</div>
<div>
    <p>id de la recette : {{recette.id}}</p>
</div>
<div classe="img" *ngIf="recette.image">
    <p><img [src]="'assets/showcase/images/demo/product/' + recette.image" [alt]="recette.nom" width="100" class="p-shadow-4" /></p>
</div>
<div>
    <p> prévues pour : {{recette.nbConvives}} personnes</p>
</div>
<div *ngFor="let theme of recette.themes">
    <p class="recette-theme"> themes : {{theme.nom}}</p>
</div>
<div *ngFor="let produit of recette.ingredients">
    <p>{{produit.nom}} , {{produit.quantite}}</p>
</div>
<div>
    <p class="recette-body">preparations :</p>
    <p [innerHtml]="recette.process.description"></p>
</div>
<div>
    <button pButton pRipple type="button" label="Retour" routerLink="/mesRecettes" class="p-button-rounded p-button-secondary"></button>
</div>